<html>
<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<body>

<h2>All Users</h2>

<%=link_to "All Conversation", conversations_path %>
<div>

</div>

<table style="width:100%">
  <tr>
    <th>User</th>
    <th>Chat</th>
  </tr>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <h5><%= link_to "Chat", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %></h5>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
</body>
</html>

