<!DOCTYPE html>
<html lang="">
<head>
  <style>
      .login_form {
          width: 50%;
          padding: 10px;
      }
  </style>
  <title></title>
</head>
<body>
<h1>Project</h1>

<div class="login_form">
  <%= form_for(@project) do |form| %>
    <% render partial: 'form', locals: {form: form} %>
  <% end %>
</div>
</body>
</html>

